<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/board.css" />
    <title>서강대학교 공학부 신문고</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/mobile_menu.js" defer></script>
  </head>
  <body>
    <%- include('header') %>
    <h2 class="free_board">
      자유게시판
    </h2>
    <div class="table_box">
        <table>
            <thead>
            <tr>
                <th class="number">No.</th>
                <th class="title">제목</th>
                <th class="date">만든날짜</th>
                <th class="hit">조회수</th>
            </tr>
            </thead>
            <tbody>
              <% for(let i = 10*(page-1);i < Math.min(10*page,contents_len);i++){ %>
                    <% var value = contents[i]; %>
                <tr>
                    <td class="number"><a href="/detail/<%= value.b_seq %>"><%= value.b_seq %></a></td>
                    <% if(value.b_status==0){ %>
                        <td class="title" id="cantsee"><a href="/detail/<%= value.b_seq %>">관리자가 아직 승인하지 않은 글입니다.</a></td>
                    <% }else if(value.b_status==1){ %>
                        <% if(value.b_type==1){ %>
                            <td class="title"><a href="/detail/<%= value.b_seq %>">[질문] <%= value.b_title %></a></td>
                        <% }else if(value.b_type==2){ %>
                            <td class="title"><a href="/detail/<%= value.b_seq %>">[건의] <%= value.b_title %></a></td>
                        <% }else if(value.b_type==3){ %>
                            <td class="title"><a href="/detail/<%= value.b_seq %>">[홍보/제휴] <%= value.b_title %></a></td>
                        <% }else{ %>
                            <td class="title"><a href="/detail/<%= value.b_seq %>"> <%= value.b_title %></a></td>
                        <% } %>
                    <% }else{ %>
                        <td></td>
                    <% } %>

                    <td class="date"><a href="/detail/<%= value.b_seq %>"><%= value.b_created %></a></td>
                    <td class="hit"><a href="/detail/<%= value.b_seq %>"><%= value.b_hit %></a></td>
                </tr>
            <% }; %>
            <tbody>
        </table>
    </div>
    <div class="paging">
      <% if(page>10){ %>
        <a href="/board?page=<%= (Math.ceil(page/10)-1)*10 %>">이전</a>
      <% } %>
      <% for(let i = (Math.floor((page-1)/5))*5+1;i <= Math.min(Math.floor(((page-1)/5))*5+5,Math.ceil(contents_len/10));i++) { %>
        <% if(page==i){ %>
          <a href="/board?page=<%= i %>" class="color_page"> <%= i %> </a>
        <% }else{ %>
          <a href="/board?page=<%= i %>"> <%= i %> </a>
        <% } %>
      <% } %>
      <% if(Math.ceil(page/10) < Math.ceil(Math.ceil(contents_len/10)/10)){ %>
        <a href="/board?page=<%= (Math.ceil(page/10)+1)*10+1 %>">다음</a>
      <% } %>
    </div>
  </body>
</html>
