<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <title>서강대학교 공학부 신문고</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>

  </head>
  <body>
    <%- include('header') %>

    <div class="content">
      <div class="title">
        <h2>
          <% if(contents.b_type==1){ %>
              [질문]&nbsp
          <% }else if(contents.b_type==2){ %>
              [건의]&nbsp
          <% }else if(contents.b_type==3){ %>
              [홍보/제휴]&nbsp
          <% } %>
          <%= contents.b_title %>
        </h2>
        <span class="hit" style="color:#8889A4">
          <%= contents.b_created %>&nbsp|&nbsp조회수&nbsp<%= contents.b_hit %>
        </span>
      </div>
      <hr color="#8889A4" size="1px">
      <div class="text_">
        <%- description_ %>
      </div>
      <% if(is_owner){ %>
        <input type="button" value="수정" class="edit" onClick="location.href='/edit/<%= contents.b_seq %>'">
        <input type="button" value="삭제" class="delete" onClick="location.href='/delete/<%= contents.b_seq %>'">
      <% }else{ %>
      <% } %>
      <br>
      <br>
      <br>
      <h2>Comments</h2>
      <hr>
      <div class="reply_create_box">
          <form method="post">
              <textarea name="reply" id="reply" placeholder="댓글" style="﻿overflow-y:scroll; overflow-x:hidden; resize: none;"></textarea>
              <input type="submit" id="submit">
          </form>
      </div>
      <% replys.forEach(function(value){ %>
          <div class="one_reply_box">
              <hr>
              <p><%= value.r_created %></p>
              <p><%= value.r_content %></p>

              <hr>
          </div>
      <% }); %>
    </div>

  </body>
</html>
