<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/font.css" />


    <link rel="stylesheet" href="/css/owl_carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl_carousel/owl.theme.default.min.css">
    <title>서강대학교 공학부 신문고</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/mobile_menu.js" defer></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/owl/owl.carousel.min.js"></script>
    <script src="js/owl/owl.navigation.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var owl = $('.owl-carousel');

            owl.owlCarousel({
                items:1,                 // 한번에 보여줄 아이템 수
                loop:true,               // 반복여부
                margin:35,               // 오른쪽 간격
                autoplay:true,           // 자동재생 여부
                autoplayTimeout:2000,    // 재생간격
                autoplayHoverPause:true,  //마우스오버시 멈출지 여부
                navText: ['이전', '다음'],
                dots: true,
                nav:true
            });

            $('.customNextBtn').click(function() {
                owl.trigger('next.owl.carousel');
            })

            $('.customPrevBtn').click(function() {
                owl.trigger('prev.owl.carousel', [300]);
            })
        });
    </script>
  </head>
  <body>
     <%- include('header') %>



    <div class="owl-carousel owl-theme">
        <div class="ad">
          <img src="/img/event.jpg" alt="" class="ad">
        </div>
        <div class="ad">
          <img src="/img/test1.png" alt="" class="ad">
        </div>
        <div class="ad">
          <img src="/img/event.jpg" alt="" class="ad">
        </div>
        <div class="ad">
          <img src="/img/test2.png" alt="" class="ad">
        </div>
        <div class="ad">
          <img src="/img/event.jpg" alt="" class="ad">
        </div>
        <div class="ad">
          <img src="/img/test3.png" alt="" class="ad">
        </div>
    </div>
    <div class="notice1" style="width:230px; float:left;">
      <div class="notice1_">
        학운위 회의록
      </div>
      <a href="/document/회의록.pdf" class="notice1__"> <img src="/img/pdf.jfif" alt="회의록" width="100px" class="notice1__"> </a>
      </table>
    </div>


    <div class="goto_" style="width:620px; float:left;">
      <div class="goto__">
        홈페이지 바로가기
      </div>
      <table>
        <tr>
          <td> <a href="https://eng.sogang.ac.kr/eng/index_new.html" class="logoo"> <img src="/img/logo.png" alt="공학부" width="100px"></a> </td>
          <td> <a href="http://me.sogang.ac.kr/v2/index.php"  class="logoo"> <img src="/img/기계 로고.jpg" alt="기계공학과" width="100px"></a> </td>
          <td> <a href="http://chemeng.sogang.ac.kr/kor/index.php"  class="logoo"> <img src="/img/화공 로고.jpg" alt="화공생명공학과" width="100px"></a> </td>
          <td> <a href="https://ee.sogang.ac.kr/kor/main/"  class="logoo"> <img src="/img/전자 로고.jpg" alt="전자공학과" width="100px"></a> </td>
          <td> <a href="https://cs.sogang.ac.kr/cs/index_new.html"  class="logoo"> <img src="/img/컴공 로고.jpg" alt="컴퓨터공학과" width="100px"></a> </td>
        </tr>
      </table>
    </div>

    <table>
        <thead>
        <tr>
            <th>제목</th>
            <th>만든날짜</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <% contents.forEach(function(value){ %>
            <tr>
                <% if(value.b_status==0){ %>
                    <td><a href="/detail/<%= value.b_seq %>">관리자가 아직 승인하지 않은 글입니다.</a></td>
                <% }else if(value.b_status==1){ %>
                    <% if(value.b_type==1){ %>
                        <td><a href="/detail/<%= value.b_seq %>">[질문] <%= value.b_title %></a></td>
                    <% }else if(value.b_type==2){ %>
                        <td><a href="/detail/<%= value.b_seq %>">[건의] <%= value.b_title %></a></td>
                    <% }else if(value.b_type==3){ %>
                        <td><a href="/detail/<%= value.b_seq %>">[홍보/제휴] <%= value.b_title %></a></td>
                    <% }else{ %>
                        <td><a href="/detail/<%= value.b_seq %>"> <%= value.b_title %></a></td>
                    <% } %>
                <% }else{ %>
                    <td></td>
                <% } %>

                <td><%= value.b_created %></td>
                <td><%= value.b_hit %></td>
            </tr>
        <% }); %>
        <tbody>
    </table>

  </body>
</html>
