<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/mypage.css" />
    <title>서강대학교 공학부 신문고</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/mobile_menu.js" defer></script>
  </head>
  <body>
    <%- include('header') %>
    <div class="table_box">
        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>만든날짜</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <% contents.forEach(function(value){ %>
                <tr>
                    <td><%= value.b_seq %></td>
                    <% if(value.b_type==1){ %>
                        <td><a href="/detail/<%= value.b_seq %>">[질문] <%= value.b_title %></a></td>
                    <% }else if(value.b_type==2){ %>
                        <td><a href="/detail/<%= value.b_seq %>">[건의] <%= value.b_title %></a></td>
                    <% }else if(value.b_type==3){ %>
                        <td><a href="/detail/<%= value.b_seq %>">[홍보/제휴] <%= value.b_title %></a></td>
                    <% }else{ %>
                        <td><a href="/detail/<%= value.b_seq %>"> <%= value.b_title %></a></td>
                    <% } %>
                    <td><%= value.b_created %></td>
                    <td><%= value.b_hit %></td>
                </tr>
            <% }); %>
            <tbody>
        </table>
    </div>
  </body>
</html>
